body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    padding: 3em;
}
input{
    width: 80%;
    font-size: 1.4em;
}

button{
    font-size: 2em;
}
.msg{
    padding: 1em;
    margin: 1em 0;
    background-color: #fffde3;
    width: 30%;
    opacity: 0;
}

body :not(p){
    color: firebrick
}
input:placeholder-shown{
    border: 5px solid greenyellow;
}
input:not(:placeholder-shown) + .msg {
    opacity: 1
}

p {
    shape-outside: polygon(0 0, 0 200px, 300px 600px);
  }
