{% extends 'base.html.twig' %}

{% block body %}

<h2>Welcome to Blogpost</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aliquid ex explicabo ipsam necessitatibus nisi obcaecati odio odit placeat provident repudiandae, sint? Debitis deserunt doloremque incidunt inventore ipsum? Eos id, neque officia officiis optio perspiciatis quibusdam repellat sunt temporibus.</p>
{% endblock %}
{% block title %}

{% endblock %}

